.book-list.container{
    max-width: 1080px;
    margin: auto;
    
    h2{
        font-weight: 400;
        text-align: center;
        margin-bottom: $spacing * 2;
        position: relative;
        line-height: 60px;
        color: $dark-900;
        &::after{
            @include after-underline(50px);
        }
    }
}

.book-card{
    cursor: pointer;
    display: inline-block;
    transition: transform 0.2s;
    &:hover{
        transform: translateY(-0.5rem);
    }

    .author{
        font-size: 12px;
        font-style: italic;
        color: $dark-300;
    }

    .price{
        font-size: 12px;
        color: $dark-600;
        &::before{
            content: '$';
        }
    }

    h4{
        font-weight: 400;
    }
}

.breadcrumbs{
    color: $dark-900;
    text-align: left;
    margin-bottom: $spacing;
    .nav-link{
        color: $dark-300
    }
}

.book{
    .image{
        text-align: right;
    }
}

.book-details{
    align-self: flex-start;
    justify-content: space-around;
    .title{
        font-weight: 500;
    }
    
    .price{
        font-weight: 500;
        font-size: 14px;
        &::before{
            content: '$';
        }
    }

    .book-description{
        margin: $spacing 0;
        h3{
            color: $dark-600;
        }
        p{
            color: $dark-300;
            flex-wrap: wrap;
        }
    }
}



