

/*==============
* Variables
===============*/

$spacing: 1rem;
$primary-color: rgb(248, 66, 66);
$primary-color-600: rgb(248, 101, 101);
$primary-color-400: rgb(253, 101, 101);
$primary-color-200: rgb(253, 147, 147);
$dark-300: rgb(88, 88, 88);
$dark-600: rgb(27, 27, 27);
$dark-900: rgb(14, 14, 14);


$success: rgb(101, 238, 67);;

.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@import './mixins.scss';
@import './header.scss';
@import './books.scss';